.pokemonNamelist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonNamelist a {
  text-decoration: none;
  color: #000;
}

h1 {
  text-align: center;
}

ul li {
  text-align: left;
}
